body {
	padding: 20px;
}

h1 {
	margin-top: 0;
}

.column {
	display: inline-block;
	vertical-align: top;
	text-align: right;
}

.column:last-child {
	margin-left: 8px;
}

.column > h1 {
	text-align: initial;
}

label {
	display: block;
	margin-bottom: 13px;
}

input[type=text], input[type=password] {
	display: block;
	margin-bottom: 10px;
}

input[type=submit] {
	margin-top: 16px;
}

.form-box {
	text-align: left;
	border: 3px solid black;
	padding: 25px;
}

.errors {
	text-align: center;
	margin-top: 32px;
	color: darkred;
}